.SectionWrap {
  border: 1px solid rgba(81, 81, 81, 1);
  height: 100%;
  padding: 1rem;
}

.ShipImage {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin: 2rem 0;
}

.List {
  max-height: 200px;
  overflow: auto;
}