.Logo {
  width: 300px;
  height: 60px;
  object-fit: cover;
  object-position: 0px -70px;
  margin-left: 45px;
}

.HeaderWrap {
  
}

.HeaderTitle {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.HeaderSubtitle {
  color: #d0d0d0;
  letter-spacing: .1rem;
}

.ButtonWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Ships {
  display: flex;
  gap: 16px;
}

.ShipsSection {

}