.Login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.LoginCard {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #c0c0c0;
  margin: 2rem;
  padding: 1rem;
}

.LoginField {
  display: flex;
  flex-flow: column nowrap;
}

.Logo {
  width: 300px;
  height: 60px;
  object-fit: cover;
  object-position: 0px -70px;
  margin-left: 45px;
}

.Error {
  color: #ff3300;
  margin-top: 1rem;
}